127.0.0.1	localhost
127.0.1.1 server01 server01

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

172.16.1.101  controller controller
172.16.2.101  compute01 compute01
172.16.3.101  compute02 compute02
172.16.4.101  compute03 compute03
