{% set intvars = interfaces[ansible_hostname] %}
{% set neighborvars = intvars['neighbors'] %}
# /etc/network/interfaces template for servers ({{ansible_hostname}})
# Created by Ansible

auto lo
iface lo inet loopback

auto {{ intvars['loopback'].vxlan }}
iface {{ intvars['loopback'].vxlan }} inet static
    address {{ intvars['loopback'].ip }}
    netmask {{ intvars['loopback'].mask }}

auto eth0
iface eth0 inet dhcp
